# Make and Use Tables
In the following the structure of the make and use tables is described using the example from the chapter 12 of the [BEA IO-Manual](http://www.bea.gov/papers/pdf/IOmanual_092906.pdf).  

## The Use Table
The use table is a commodity-industry matrix which describes the amount of goods that is consumed by the respective industries. It also can contain additional columns of the final demand of goods and additional rows for value added and scrap. In the model builder, the use table is just a plain [pandas DataFrame](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) and can be created in the following way:

In [2]:
import pandas as pd
import numpy as np

use_data = np.array([
        [50, 120, 120, 40],
        [180, 30, 60, 130],
        [50, 150, 50, 20],
        [1, 3, 1, 0],
        [47, 109, 34, 0]], dtype=np.float64)
use_table = pd.DataFrame(data=use_data, 
                         index=['A', 'B', 'C', 'Scrap', 'Value Added'],
                         columns=['A', 'B', 'C', 'Final Demand'])
use_table

                 A      B      C  Final Demand
A             50.0  120.0  120.0          40.0
B            180.0   30.0   60.0         130.0
C             50.0  150.0   50.0          20.0
Scrap          1.0    3.0    1.0           0.0
Value Added   47.0  109.0   34.0           0.0

As described above, in the use table the **commodities** are mapped to the **rows** and the **industries** are mapped to the **columns**. Thus, together with the added values (compensation of employees etc.) the sum of the row entries in a column is the total output of the industry described by the column:

In [4]:
total_industry_output = use_table.sum(axis=0)
total_industry_output.to_frame('Total industry output')

              Total industry output
A                             328.0
B                             412.0
C                             265.0
Final Demand                  190.0